// Place all the styles related to the Birds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue: #082B86;

h1{
  color: $blue;
}

.bird_name{
  display: none;
}